.footer {
    background-color: #dc2f02;
    display: flex;
    padding: 10px 50px;
    justify-content: space-between;
    color: white;
    margin-top: 50px;
}

.iconos{
    justify-content: space-evenly;
}

.boton-redes {
height: 40px;
padding-bottom: 5px;
width: 40px;
}